.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 1000;
  transition: all 0.3s ease;
  background: transparent;
}

.navbar.scrolled {
  background: rgba(15, 23, 42, 0.9);
  backdrop-filter: blur(10px);
  padding: 15px 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 1.8rem;
  font-weight: 900;
  color: var(--light-text);
  background: linear-gradient(to right, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links ul {
  display: flex;
  gap: 30px;
  align-items: center; /* Ensure items are vertically centered */
}

.nav-links li {
  color: var(--light-text);
  font-weight: 600;
  cursor: pointer;
  position: relative;
  /* transition: color 0.3s ease; */
  background: linear-gradient(to right , var(--secondary))  no-repeat;
  background-size: 0% 1px;
  background-position: left bottom;
  transition: background-size 0.3s ease ;
}

/* .nav-links li::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--secondary);
  transition: width 0.3s ease;
} */

.nav-links li:hover {
  color: var(--primary);
  background-size: 100% 2px;
}

/* .nav-links li:hover::after {
  width: 100%;
} */


.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--light-text);
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-links {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--dark-bg);
    width: 100%;
    height: calc(100vh - 70px); /* ملء الشاشة بالكامل ناقص ارتفاع النافبار */
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding-top: 2rem;
  }



  .nav-links.active {
    left: 0;
  }

  .nav-links ul {
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }

  .nav-links li {
    margin: 10px 0;
    font-size: 1.2rem; /* تكبير الخط في الجوال */
  }
}
